<html>
    <head>

        <meta charset="utf-8">
        <meta name="description" content="schreibdochmalwieder is a letter paper designer.">
        <meta name="author" content="Sophia Manns, Annika Domin, Florian Rämisch">

        <meta name="viewport" content="width=device-width,initial-scale=1">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='raleway.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='skeleton.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='schreibdochmalwieder.css') }}">

        <title>
            {% block title %}{% endblock %}schreibdochmalwieder
        </title>
    </head>
    <body>

      <div class="section categories">
        <div class="container">
		      <div class="row">
      			<div class="two columns"></div>
			      <div class="eight columns">
      				<a href="/"><img class="header" src="{{ url_for('static', filename='schreibdochmalwieder.svg') }}" ></a>
      				{% block content %}{% endblock %}
              <p class="imprint">
                schreibdochmalwieder ist eine gute Idee von Sophia Manns-Süßbrich, Annika Domin und Florian Rämisch.
              </p>
			      </div>
			      <div class="two columns"></div>
		      </div>
        </div>
      </div>

      <p class="imprint">
          Dieses Projekt wurde 2018 im Rahmen von <a href="//codingdavinci.de/events/ost">Coding Da Vinci Ost</a> realisiert. Der Quelltext ist auf <a href="https://github.com/sophiamanns/schreibdochmalwieder/">github</a> zu finden. Alle Graphiken wurden zur Verfügung gestellt durch die Thüringer Universitäts- und Landesbibliothek Jena und stehen unter der Lizenz: <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.de">CC-BY-SA 4.0 DE (Creative Commons - Namensnennung - Weitergabe unter gleichen Bedingungen 4.0</a>. Die Vektorgrafiken, ausgenommen die Headergrafik (<a href="https://creativecommons.org/licenses/by/4.0/deed.de">CC-BY: Florian Rämisch</a>) stehen ebenfalls unter <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.de">CC-BY-SA: Florian Rämisch, Thüringer Universitäts- und Landesbibliothek Jena</a>).
        </p>
    </body>
</html>
