<html>
    <head>

        <meta charset="utf-8">
        <meta name="description" content="schreibdochmalwieder is a letter paper designer.">
        <meta name="author" content="Sophia Manns, Annika Domin, Florian Rämisch">

        <meta name="viewport" content="width=device-width,initial-scale=1">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='raleway.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='skeleton.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='schreibdochmalwieder.css') }}">

        <title>
            {% block title %}{% endblock %}schreibdochmalwieder
        </title>
    </head>
    <body>
      <div class="section categories">
        <div class="container">
		      <div class="row">
      			<div class="two columns"></div>
			      <div class="eight columns">
      				<img src="{{ url_for('static', filename='schreibdochmalwieder.svg') }}" >
      				{% block content %}{% endblock %}
              <p class="imprint">
                Alle Graphiken wurden zur Verfügung gestellt durch die Thüringer Universitäts- und Landesbibliothek Jena und stehen unter der Lizenz: <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.de">CC-BY-SA 4.0 DE (Creative Commons - Namensnennung - Weitergabe unter gleichen Bedingungen 4.0</a>
              </p>
			      </div>
			      <div class="two columns"></div>
		      </div>
        </div>
      </div>
    </body>
</html>
