{% extends "base.html" %}

{% block title %}
Los geht's
{% endblock %}


{% block content %}
<p>
	Auf dieser Webseite könnt Ihr selbst Briefpapier herstellen, oder eine schicke Dokumentenvorlage (oder als Ausmalbuch). Für Euch selbst oder als Geschenk für andere. Die Motive, jahrhundertealte Blumen aus einem Herbarium oder Grafiken aus dem Diederich Verlag, werden Euch zugewiesen. Wie? Durch Zufall, oder Ihr erhaltet ein individuelles Muster/Design, das zu Eurem Namen passt. Danach druckt Ihr die Motive einfach aus und fertig ist das eigene Briefpapier. Probiert es aus und dann bekommt Ihr bestimmt Lust mal wieder einen richtigen Brief zu schreiben.
</p>

<div class="row">
	<div class="six columns">
		<p>
			Finde spannende Muster mithilfe des Generators.
			<img src="{{ url_for('static', filename='wuerfel.png') }}" class="img"/><br />
			<a href="letterpaper" class="button">Überlasse es dem Zufall!</a>
		</p>
	</div>
	<div class="six columns">
		<p>
			Finde das passende Briefpapier zu deinem Namen!
			<form method="get">
			      <input class="u-full-width" placeholder="Gib hier deinen Namen ein." id="name" type="text">
						<input class="button" value="Erstellen" type="submit">
			</form>
		</p>
	</div>
</div>
{% endblock %}
