{% extends "base.html" %}

{% block title %}
Los geht's
{% endblock %}


{% block content %}
<p>Lust zum Schreiben, aber kein schönes Papier bei der Hand? Hier seid Ihr richtig! Unsere Motive (bisher): Grafiken aus dem Diederich Verlag. Sucht Euch schöne Motive per Zufall! Mehr Individualität? Euer persönliches Motiv, generiert aus Eurem oder den Namen der Lieben ist auch etwas Feines. Würfelt einfach los!<br />
Danach druckt Ihr die Motive aus und fertig ist das eigene Briefpapier. Probiert es aus und spätestens dann bekommt Ihr bestimmt Lust mal wieder einen richtigen Brief zu schreiben.<br />
Ihr kommuniziert nicht gern? Ausmalen ist das neue Chillen, erstellt ein Ausmalbuch.
</p>

<div class="row">
	<div class="six columns">
		<p>
			 Dein Motiv vom Generator<br />
			<img src="{{ url_for('static', filename='wuerfel.png') }}" class="alea"/><br />
			<a href="letterpaper" class="button">Zufall</a>
		</p>
	</div>
	<div class="six columns">
		<p>
			 Dein Name – dein Muster
			<form method="post" action="{{ url_for('paperbyname') }}" >
			    <input class="u-full-width" placeholder="Gib hier deinen Namen ein." name="name" type="text">
				<input class="button" value="Schicksal" type="submit">
			</form>
		</p>
	</div>
</div>
{% endblock %}
