{% extends "base.html" %}

{% block title %}
Los geht's
{% endblock %}


{% block content %}
<p>
	Finde spannende Muster mithilfe des Generators.
	<a href="letterpaper" class="button">Los geht's</a>
</p>
<p>
	Finde das passende Briefpapier zu deinem Namen!
	<form method=>
	  <div class="row">
	    <div class="twelve columns">
	      <label for="name">Dein Name</label>
	      <input class="u-full-width" placeholder="Gib hier deinen Namen ein." id="name" type="text">
	    </div>
	    <div class="three columns">
	    </div>
	  </div>
		<div class="row">
			<div class="nine columns"></div>
			<div class="three columns">
				<input class="button" value="Erstellen" type="submit">
			</div>
		</div>
	</form>
</p>
{% endblock %}
